#include <windows.h>
#include <ntverp.h>

#include "..\..\Tools\vendor.ver"

#undef  VER_FILEDESCRIPTION_STR
#undef  VER_INTERNALNAME_STR

#define VENDOR_VIRTIO_PRODUCT      VENDOR_PRODUCT_PREFIX "VirtIO Input controller"
#define VER_FILEDESCRIPTION_STR    VENDOR_DESC_PREFIX "Pass-through HID to KMDF Filter Driver" VENDOR_DESC_POSTFIX
#define VER_INTERNALNAME_STR       "viohidkmdf.sys"

#include "common.ver"
