# the default owners
*                   @YanVugenfirer @kostyanf14

# Driver custom owners
/Balloon/           @vrozenfe @ybendito @kostyanf14
# /Documentation/
# /fwcfg/
/fwcfg64/           @kostyanf14 @YanVugenfirer
# /ivshmem/
/NetKVM/            @ybendito @YanVugenfirer
# /packaging/
# /pciserial/
/pvpanic/           @kostyanf14 @YanVugenfirer
# /Q35/
/Tools/             @kostyanf14 @YanVugenfirer @ybendito
# /viocrypt/
/viofs/             @kostyanf14 @YanVugenfirer @ybendito
/viogpu/            @vrozenfe @YanVugenfirer
# /vioinput/
# /viorng/
/vioscsi/           @vrozenfe @YanVugenfirer
/vioserial/         @vrozenfe @ybendito
/viosock/           @kostyanf14 @YanVugenfirer
/viostor/           @vrozenfe @YanVugenfirer @kostyanf14
# /VirtIO/
