*.suo
*.wrn
*.log
*.err
*.pfx
*.cer
*.bak
*.user
*.sdf
*.tmh
*.bmf
*.cat
*.opensdf
*.DVL.XML
*.opendb
*.VC.db
*objchk_*
*objfre_*
*Win*Debug*
*Win*Release*
*VistaDebug*
*VistaRelease*
Win32
x64
Install
Install_Debug
sdv
sdv-map.h
sdv-user.*
SDV-default.xml
netkvmmof.h
.vs
