*.suo
*.wrn
*.log
*.err
*.pfx
*.cer
*.bak
*.user
*.sdf
*.tmh
*.bmf
*.cat
*.opensdf
*.DVL.XML
*.DVL-compat.XML
*.opendb
*.VC.db
vc*.pdb
*objchk_*
*objfre_*
*Win*Debug*
*Win*Release*
*VistaDebug*
*VistaRelease*
Win32
x64
Install
Install_Debug
sdv
sdv-map.h
sdv-user.*
SDV-default.xml
smvstats.txt
netkvmmof.h
.vs
codeql.build.bat
codeql_db
*.sarif
*CodeAnalysis.log
vc.nativecodeanalysis.all.xml