*.suo
*.wrn
*.log
*.err
*.pfx
*.cer
*.bak
*.user
*.sdf
*.tmh
*.opensdf
*.DVL.XML
*.opendb
*objchk_*
*objfre_*
*Win*Debug*
*Win*Release*
*VistaDebug*
*VistaRelease*
Win32
x64
Install
Install_Debug
sdv
sdv-map.h
