/*
 * Copyright (C) 2015-2017 Red Hat, Inc.
 *
 * This software is licensed under the GNU General Public License,
 * version 2 (GPLv2) (see COPYING for details), subject to the following
 * clarification.
 *
 * With respect to binaries built using the Microsoft(R) Windows Driver
 * Kit (WDK), GPLv2 does not extend to any code contained in or derived
 * from the WDK ("WDK Code"). As to WDK Code, by using or distributing
 * such binaries you agree to be bound by the Microsoft Software License
 * Terms for the WDK. All WDK Code is considered by the GPLv2 licensors
 * to qualify for the special exception stated in section 3 of GPLv2
 * (commonly known as the system library exception).
 *
 * There is NO WARRANTY for this software, express or implied,
 * including the implied warranties of NON-INFRINGEMENT, TITLE,
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 *
 * Refer to the LICENSE file for full details of the license.
 *
 * Written By: Gal Hammer <ghammer@redhat.com>
 *
 */

#include <windows.h>

#include <windows.h>
#include <ntverp.h>

#include "..\..\Tools\vendor.ver"

#undef  VER_FILEDESCRIPTION_STR
#undef  VER_INTERNALNAME_STR

#define VENDOR_VIRTIO_PRODUCT      QEMU_PRODUCT_PREFIX "PVPanic Device"
#define VER_FILEDESCRIPTION_STR    VENDOR_DESC_PREFIX "PVPanic Driver" VENDOR_DESC_POSTFIX
#define VER_INTERNALNAME_STR       "pvpanic.sys"

#include "common.ver"
