/*
 * Copyright (C) 2014-2017 Red Hat, Inc.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301, USA.
 *
 * Refer to the LICENSE file for full details of the license.
 *
 * Written By: Gal Hammer <ghammer@redhat.com>
 *
 */

#include <windows.h>
#include <ntverp.h>

#include "..\..\Tools\vendor.ver"

#undef  VER_FILEDESCRIPTION_STR
#undef  VER_INTERNALNAME_STR

#define VENDOR_VIRTIO_PRODUCT      VENDOR_PRODUCT_PREFIX "VirtIO RNG Device"
#define VER_FILEDESCRIPTION_STR    VENDOR_DESC_PREFIX "VirtIO RNG Driver" VENDOR_DESC_POSTFIX
#define VER_INTERNALNAME_STR       "viorng.sys"

#include "common.ver"
