/**********************************************************************
 * Copyright (c) 2012-2017  Red Hat, Inc.
 *
 * File: vioscsi.rc
 *
 * This file contains resource (version) definitions for vioscsi driver.
 *
 * This work is licensed under the terms of the GNU GPL, version 2.  See
 * the COPYING file in the top-level directory.
 *
**********************************************************************/
#include <windows.h>
#include <ntverp.h>

#include "resources.h"
#include "..\Tools\vendor.ver"

#undef  VER_FILEDESCRIPTION_STR
#undef  VER_INTERNALNAME_STR

#define VENDOR_VIRTIO_PRODUCT      VENDOR_PRODUCT_PREFIX "VirtIO SCSI pass-through controller"
#define VER_FILEDESCRIPTION_STR    VENDOR_DESC_PREFIX "VirtIO SCSI pass-through driver" VENDOR_DESC_POSTFIX
#define VER_INTERNALNAME_STR       "vioscsi.sys"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
MOFRESOURCE MOFDATA MOVEABLE PURE   "vioscsi.bmf"

#include "common.ver"


