/**********************************************************************
 * Copyright (c) 2008-2016  Red Hat, Inc.
 *
 * File: Parandis6.rc
 *
 * This file contains resource (version) definitions for NDIS 6 driver.
 *
 * This work is licensed under the terms of the GNU GPL, version 2.  See
 * the COPYING file in the top-level directory.
 *
**********************************************************************/

#include <quverp.h>
