/**********************************************************************
 * Copyright (c) 2008-2017 Red Hat, Inc.
 *
 * File: virtio_stor.rc
 *
 * This file contains resource (version) definitions for viostor driver.
 *
 * This work is licensed under the terms of the GNU GPL, version 2.  See
 * the COPYING file in the top-level directory.
 *
**********************************************************************/
#include <windows.h>
#include <ntverp.h>

#include "..\Tools\vendor.ver"

#undef  VER_FILEDESCRIPTION_STR
#undef  VER_INTERNALNAME_STR

#define VENDOR_VIRTIO_PRODUCT      VENDOR_PRODUCT_PREFIX "VirtIO SCSI controller"
#define VER_FILEDESCRIPTION_STR    VENDOR_DESC_PREFIX "VirtIO SCSI driver" VENDOR_DESC_POSTFIX
#define VER_INTERNALNAME_STR       "viostor.sys"

#include "common.ver"
